POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=nestjs
PORT=3000
JWT_SECRET=jwtsercret
JWT_EXPIRATION_TIME=2678400

JWT_ACCESS_TOKEN_SECRET=accessToken
JWT_REFRESH_TOKEN_SECRET=refreshToken
JWT_ACCESS_TOKEN_EXPIRATION_TIME=10000
JWT_REFRESH_TOKEN_EXPIRATION_TIME=2678400

CLOUDINARY_NAME=dgcuiishb
CLOUDINARY_API_KEY=479315357764643
CLOUDINARY_API_SECRET=XSGgssKqJec2KbuFKMbdNU8zq6s