    <a href="javascript:void(0);" title="logo" target="_blank">
      <img width="60" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/16620/production/_91408619_55df76d5-2245-41c1-8031-07a4da3f313f.jpg" title="logo" alt="logo">
    </a>